@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
    font-family: Animal;
    src: url(/assets/font/FinkHeavy.ttf);
}

body
{
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Animal;
    font-size: 22px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex: 25%
}

.grid-container {
    display: grid;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.container1 {
    text-align: center;
    justify-content: center;
    color: #E2CC76;
    background-color: #816444;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 29px;
    border-color: #816444;
}

.container2 {
    text-align: left;
    justify-content: center;
    color: #E2CC76;
    background-color: #816444;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 29px;
    border-color: #816444;
}

.button {
    justify-content: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 4px 2px;
    padding: 15px 80px;
    color: #816444;
    font-size: 20px;
    font-family: Animal;
    text-align: center;
    text-decoration: none;
    background-color: #f3efe3;
    border-color: #816444;
}

.button:hover {
    background-color: #d1cec6;
    color: #816444;
}

/* .ft-container-full
{
    @apply w-full sm:w-96;
}

.ft-image img 
{
    @apply w-32 sm:w-44 lg:w-56 aspect-square rounded-full border overflow-hidden;
} */




/* <div class="bg-[url('../../../assets/images/background.jpg')] bg-cover bg-center bg-no-repeat min-h-screen">
		<div class="flex flex-col justify-center p-[10px]  w-32 md:w-48 lg:w-64 basis-1/2">
			<div class="grid justify-center flex-col">
				<img src="../../../assets/images/title.png" alt="title" w-32 md:w-48 lg:w-64 h-auto class="absolute top-6 left-1/2 -translate-x-1/2 w-4/5 max-w-[800px]">
			</div>
			<div class="grid justify-center flex-col m-[190px] p-[20px]">
				<div class="text-left flex flex-auto justify-center text-[#E2CC76] bg-[#816444] rounded-[29px] min-w-[500px] border border-[#816444]">
					<div class="text-center">
						<h2>Register</h2>
					</div>
					<form id="register-form" class="space-y-5">
						<div class="flex">
							<label for="username">Username </label>
							<input class="id="username" type="text" placeholder="Username">
						</div>

						<div class="flex">
							<label for="email">Email </label>
							<input class="id="email" type="text" placeholder="Email">
						</div>

						<div class="flex">
							<label for="password">Password </label>
							<input class="id="password" type="password" placeholder="**********">
						</div>

						<div class="flex">
							<label for="check_password">Password confirmation </label>
							<input class="id="check_password" type="password" placeholder="**********">
						</div>

						<div class="text-center flex justify-center text-[#E2CC76] bg-[#816444]">
							<button class="button" type="submit" name="submit">Register</button>
						</div>
					</form>

					<p class="text-center text-sm text-gray-400 mt-4">
						Already have an account ?
						<a href="#" class="text-yellow-400 hover:underline">Log In</a>
					</p>

					<div class="flex items-center justify-center my-4">
						<div class="h-px w-16 bg-gray-200"></div>
							<span class="mx-2 text-sm text-gray-200">or</span>
						<div class="h-px w-16 bg-gray-200"></div>
					</div>

					<div class="flex flex-auto justify-center">
						<button type="button" class="flex items-center justify-start gap-2 inline-flex rounded-md border border-slate-700 bg-slate-800 py-2 px-4 text-sm font-medium text-slate-300 hover:bg-slate-700">
							<svg class="w-6 h-6" viewBox="0 0 48 48">
								<path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
								<path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
								<path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
								<path fill="#1976D2" d="M43.611,20.083l-0.011-0.004H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571l6.19,5.238C39.904,36.213,44,30.638,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
							</svg> Register with Google
						</button>
					</div>

				</div>
				
			</div>
		</div>
	</div> */